/* universal styles */

html {
  font-size: 18px;
}

body {


}

@media screen and (min-width: 800px) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .desktop {
    display: none;
  }
}

/* navbar */

.nav-container {
  width: 100%;;
  background-color: White;
  position: fixed;
  top: 0;
  z-index: 1;

}

.nav-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 24px;
}

/* navbar desktop */

@media screen and (min-width: 800px) {

  .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  nav li {
  padding: 8px;
  }

  .nav-container span {
  padding: 4px;
  display: inline-block;
  }

  .logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
  }
  
}

/* header */

.header-container {
  background-color: #f1e7da;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-container img {
  max-width: 100%;
  height: auto;
}

.header-text {
  padding: 32px 16px;
}

.header-text h1 {
  margin-bottom: 32px;
}

.header-text p {
  margin-bottom: 24px;
}

.header-button {
  background-color: #372815;
  color: White;
  padding: 8px 0;
  text-align: center;
}

/* info section */

.info-container {
  padding: 16px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-box img {
  max-width: 100%;
  height: auto;
}

.info-box a {
  display: block;
  padding-bottom: 16px;
}

.info-box-text {
  padding: 16px;
}

/* learn section */

.learn-container {
  display: flex;
  flex-direction: column;
}

.learn-container h1 {
  text-align: center;
  padding: 16px;
}

.learn-box {
  background-color: #f1e7da;
  padding: 16px;
  margin: 0 16px 8px 16px;
}

/* thesis section */

.thesis-container {
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thesis-header h1 {
  padding-top: 32px;
  padding-bottom: 16px;
}

.thesis-video video {
  max-width: 100%;
  height: auto;
}

/* footer */

footer span {
  padding: 16px;
}
